/* Import layout CSS */
@import './layout/layout.css';

/* Radix UI Background color */
:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #f9fafb;
}

:root,
.light,
.light-theme {
  --gray-1: #f6f6f8;
  --gray-2: #f3f3f7;
  --gray-3: #e9e9ef;
  --gray-4: #e1e1e9;
  --gray-5: #d9d9e3;
  --gray-6: #d1d1dd;
  --gray-7: #c6c6d2;
  --gray-8: #b3b3be;
  --gray-9: #858590;
  --gray-10: #7b7a85;
  --gray-11: #5c5c66;
  --gray-12: #1f1f27;

  --gray-a1: #612f6305;
  --gray-a2: #3a1b7c08;
  --gray-a3: #170a5212;
  --gray-a4: #0e044b1a;
  --gray-a5: #09034722;
  --gray-a6: #0702452a;
  --gray-a7: #09053a36;
  --gray-a8: #05022649;
  --gray-a9: #03021878;
  --gray-a10: #04001683;
  --gray-a11: #020210a2;
  --gray-a12: #010109e0;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #858590;
  --gray-track: #858590;
}

/* Radix UI Gray scale colors */
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(97.5% 0.0025 286.2);
      --gray-2: oklch(96.5% 0.005 286.2);
      --gray-3: oklch(93.6% 0.008 286.2);
      --gray-4: oklch(91.1% 0.0108 286.2);
      --gray-5: oklch(88.8% 0.0138 286.2);
      --gray-6: oklch(86.4% 0.0161 286.2);
      --gray-7: oklch(83% 0.0161 286.2);
      --gray-8: oklch(76.9% 0.0161 286.2);
      --gray-9: oklch(62% 0.0161 286.2);
      --gray-10: oklch(58.5% 0.0161 286.2);
      --gray-11: oklch(47.9% 0.0161 286.2);
      --gray-12: oklch(24.2% 0.0161 286.2);

      --gray-a1: color(display-p3 0.2431 0 0.251 / 0.016);
      --gray-a2: color(display-p3 0.1373 0 0.4275 / 0.028);
      --gray-a3: color(display-p3 0.0549 0.0039 0.2353 / 0.068);
      --gray-a4: color(display-p3 0.0392 0 0.2392 / 0.1);
      --gray-a5: color(display-p3 0.0275 0 0.2431 / 0.132);
      --gray-a6: color(display-p3 0.0235 0 0.2431 / 0.164);
      --gray-a7: color(display-p3 0.0157 0 0.1961 / 0.208);
      --gray-a8: color(display-p3 0.0118 0 0.1294 / 0.284);
      --gray-a9: color(display-p3 0.0078 0 0.0784 / 0.468);
      --gray-a10: color(display-p3 0.0078 0 0.0745 / 0.512);
      --gray-a11: color(display-p3 0 0 0.0549 / 0.632);
      --gray-a12: color(display-p3 0 0 0.0314 / 0.876);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(62% 0.0161 286.2);
      --gray-track: oklch(62% 0.0161 286.2);
    }
  }
}

/* Radix UI Accent colors */
:root,
.light,
.light-theme {
  --violet-1: #f7f6f8;
  --violet-2: #f4f2f9;
  --violet-3: #edeaf7;
  --violet-4: #e5def9;
  --violet-5: #dcd1f8;
  --violet-6: #d0c2f2;
  --violet-7: #beade8;
  --violet-8: #a792d7;
  --violet-9: #6f5a9b;
  --violet-10: #624c8c;
  --violet-11: #665191;
  --violet-12: #372459;

  --violet-a1: #942f6305;
  --violet-a2: #6c18c309;
  --violet-a3: #450abf11;
  --violet-a4: #4a04ea1d;
  --violet-a5: #4902e92a;
  --violet-a6: #4504d43a;
  --violet-a7: #3b01be4f;
  --violet-a8: #3503a56b;
  --violet-a9: #220265a4;
  --violet-a10: #21015cb2;
  --violet-a11: #21015fad;
  --violet-a12: #17013fdb;

  --violet-contrast: #fff;
  --violet-surface: #f3f0f9cc;
  --violet-indicator: #6f5a9b;
  --violet-track: #6f5a9b;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --violet-1: oklch(97.5% 0.0026 298.1);
      --violet-2: oklch(96.5% 0.0085 298.1);
      --violet-3: oklch(94.4% 0.0179 298.1);
      --violet-4: oklch(91.4% 0.0369 298.1);
      --violet-5: oklch(88.2% 0.0537 298.1);
      --violet-6: oklch(84.1% 0.0683 298.1);
      --violet-7: oklch(78.3% 0.0851 298.1);
      --violet-8: oklch(70.4% 0.1025 298.1);
      --violet-9: oklch(51.6% 0.1025 298.1);
      --violet-10: oklch(46.8% 0.1025 298.1);
      --violet-11: oklch(48.4% 0.1025 298.1);
      --violet-12: oklch(31.3% 0.092 298.1);

      --violet-a1: color(display-p3 0.4902 0 0.251 / 0.016);
      --violet-a2: color(display-p3 0.3647 0 0.6196 / 0.032);
      --violet-a3: color(display-p3 0.1804 0 0.6784 / 0.064);
      --violet-a4: color(display-p3 0.2431 0 0.8471 / 0.112);
      --violet-a5: color(display-p3 0.2353 0 0.8431 / 0.164);
      --violet-a6: color(display-p3 0.2275 0 0.7569 / 0.224);
      --violet-a7: color(display-p3 0.1804 0 0.6863 / 0.304);
      --violet-a8: color(display-p3 0.1686 0 0.5922 / 0.412);
      --violet-a9: color(display-p3 0.1059 0 0.3686 / 0.636);
      --violet-a10: color(display-p3 0.102 0 0.3333 / 0.692);
      --violet-a11: color(display-p3 0.102 0 0.3451 / 0.672);
      --violet-a12: color(display-p3 0.0706 0 0.2275 / 0.852);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.9529 0.9412 0.9725 / 0.8);
      --violet-indicator: oklch(51.6% 0.1025 298.1);
      --violet-track: oklch(51.6% 0.1025 298.1);
    }
  }
}
